.background-image1{
    background-image: url(images/bg2.png);
    background-repeat: no-repeat;
    z-index: -1;
    background-position: left, bottom;
    background-size: contain;
}
.background-image2{
    background-image: url(images/best-product.png);
    background-repeat: no-repeat;
    z-index: -1;
    background-position: left;
    background-size: contain;
}
.background-image1 h1,p,button{
    z-index: 1;
}
.container{
    margin-bottom: 50px;
}
.carousel-item{
    padding: 20px 40px ;
}
.carousel-indicators li:active{
    width: 45px;
    height: 10px;
    border-radius: 5px;
    background-color: indigo;
}
.carousel-indicators li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, rgb(190, 8, 78) 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    width: 150px;
    transition-timing-function: ease-in-out;
    transition: width .7s;
}
.buy-now-button:hover{
    width: 200px;
    background: rgb(77, 53, 53);
}
.heading-text h3{
    font-size: 50px;
    font-weight: 600;
}
.heading-text p{
    font-size: 20px;
    color: #58ce22;
    cursor: pointer;
}
.card{
    border-radius: 8px;
    transition: transform, .5s;
    transition-timing-function: ease-in-out;
}
.card:hover{
    transform: scale(1.1);  
}
.categorie-bottom{
    width: 10%;
}
.art-photo{
    background-color: white;
    padding: 50px 40px;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 2px 2px 20px lightgrey;
}
.image-decor{
    padding-left: 50px;
}
.row-margin{
    margin-top: 40px;
}
.categories img:hover{
    transform: scale(1.3);
    transition: transform, .8s;
}
.pale-order{
    width: 550px;
}
#subscribe{
    height: 300px;
    text-align: center;
    background-image: linear-gradient(45deg, #A7C0DC, rgb(45, 85, 128) );
    border-radius: 10px;
}
.subscribe h3{
    color: #EFC152;
}
#contact h6{
    color: white;
}
.form-control{
    margin-bottom: 5%;
}
footer{
    text-align: center;
    color: indigo;
}
#footer-anchor{
    text-decoration: none;
    cursor: pointer;
    color: blue;
}


