.container{
    margin-bottom: 50px;
}
.carousel-item{
    padding: 20px 40px ;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, rgb(190, 8, 78) 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    width: 150px;
    transition-timing-function: ease-in;
    transition: width .7s, transform .7s;
}
.buy-now-button:hover{
    width: 200px;
    background: rgb(77, 53, 53);
    transform: translate(50px, 0px);
}
.heading-text h3{
    font-size: 50px;
    font-weight: 600;
}
.heading-text p{
    font-size: 20px;
    color: #58ce22;
    cursor: pointer;
}
.card{
    border-radius: 8px;
}
.card:hover{
    transform: scale(1.1);
    transition: transform, .5s;
}
.categorie-bottom{
    width: 10%;
}
.art-photo{
    background-color: white;
    padding: 50px 40px;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 2px 2px 20px lightgrey;
}
.image-decor{
    padding-left: 50px;
}
.row-margin{
    margin-top: 40px;
}
.categories img:hover{
    transform: scale(1.3);
    transition: transform, .8s;
}
.pale-order{
    width: 550px;
}
#subscribe{
    height: 300px;
    text-align: center;
    background-image: linear-gradient(45deg, #A7C0DC, rgb(45, 85, 128) );
    border-radius: 10px;
}
.subscribe h3{
    color: #EFC152;
}
#contact h6{
    color: white;
}
.form-control{
    margin-bottom: 5%;
}
footer{
    text-align: center;
    color: indigo;
}
#footer-anchor{
    text-decoration: none;
    cursor: pointer;
    color: blue;
}


